<h1>Urejanje prijave za vpis na razpis: <%= @enrollment.name %></h1>

<%= render 'form', url: application_form_path %>


<script type="text/javascript">
  $(document).on('turbolinks:load', function () {
    Enrolled.application_forms.form();
  });
</script>
