<h1>Prijava za vpis na razpis: Študijsko leto <%= @enrollment.study_year %>, <%= @enrollment.name %></h1>

<%= render 'form', url: application_form_path %>


<script type="text/javascript">
  $(document).on('turbolinks:load', function () {
    Enrolled.application_forms.form();
  });
</script>
