<div class="row">
  <div class="col-sm-6">
    Visokošolska prijavno-informacijska služba
  </div>
  <div class="col-sm-2">

  </div>
  <div class="col-sm-2">

  </div>
  <div class="col-sm-2">

  </div>
</div>