<div class="col-sm-6">
  <h1>Urejanje zaključka srednje šole</h1>

  <%= render 'form' %>
  <br/>
  <%= link_to 'Prikaži', @highschool_completion %> |
  <%= link_to 'Nazaj', highschool_completions_path %>
</div>
