<div class="row page-heading">
  <div class="col-lg-10">
    <h2><%= @study_program_mode.study_program.higher_education_institution.acronym %> - <%= @study_program_mode.study_program.name %>
      (<%= @study_program_mode.study_program.type_of_study.name %>)</h2>
  </div>
</div>

<%= render 'form',  url: study_program_study_program_mode_path(@study_program_mode.study_program, @study_program_mode) %>
