<div class="row page-heading">
  <div class="col-lg-10">
    <h2>Uredi stanje pogoja</h2>
  </div>
</div>

<%= render 'form', url: completion_result_completion_result_score_path(@completion, @result) %>
