<div class="tabs-container">
  <ul class="nav nav-tabs">
    <%= nav_link_to t('.overview'), study_program_path(@study_program) %>
    <%= nav_link_to t('.modes'), study_program_study_program_modes_path(@study_program) %>
    <%= nav_link_to t('.requirements'), study_program_requirements_path(@study_program) %>
    <%= nav_link_to t('.candidates'), study_program_study_program_candidates_path(@study_program) %>
  </ul>
</div>