<div class="row page-heading">
  <div class="col-lg-10">
    <h2>Nov študijski program</h2>
  </div>
</div>

<%= render 'form' %>

<%= link_to t('defaults.cancel'), study_programs_path , class: 'btn btn-warning' %>