.navbar {
  border-width: 0 0 0;

  .navbar-brand-icon {
    padding-top: 4px;
    height: 42px;
    float: left;
  }

  .navbar-brand {
    padding-left: 20px;
  }

  .navbar-nav {

    > li {

      > a {
        height: 50px;
      }
    }

    > .dropdown-user {

      .dropdown-menu {

        li.current-user {

          a {
            cursor: default;
            color: #767676;
          }
        }
      }

      > .dropdown-toggle {
        padding: 0;

        img {
          height: 50px;
        }
      }
    }
  }
}