$fa-font-path: "." !default;

$font-stack: -apple-system, BlinkMacSystemFont, "HelveticaNeue-Light", "Helvetica Neue Light", "Open Sans", Helvetica, Arial, Verdana, sans-serif;

$body-bg: #F9F9F9;
$text-color: #333;

$navbar-inverse-bg: #37474F;
$navbar-inverse-color: #FFF;
$navbar-inverse-link-color: #FFF;
$navbar-inverse-link-hover-bg: rgba(0, 0, 0, .1);