$fa-font-path: "." !default;

$font-stack: -apple-system, BlinkMacSystemFont, "HelveticaNeue-Light", "Helvetica Neue Light", "Open Sans", Helvetica, Arial, Verdana, sans-serif;

$body-bg: #ffffff; //#2f4050;//#ffffff;//#F9F9F9;
$text-color: #333;

$page-heading-color: #fafafa;

$navbar-inverse-bg: #3e495f;
$navbar-inverse-color: #FFF;
$navbar-inverse-link-color: #FFF;
$navbar-inverse-link-hover-bg: #3a4459;
$nav-text-color: $text-color;
$navbar-left-bg: #fafafa;
$navbar-left-border: #e7eaec;
$navbar-left-separator: #ABABAB;
$navbar-left-hover: #ededed;
$footer-bg: #fafafa;
