<p>Zdravo <%= @resource.email %>!</p>

<p>Vaš uporabniški račun je bil zaklenjen zaradi prevelikega števila neuspešnih poskusov prijave.</p>

<p>Za odklepanje računa uporabite spodnjo povezavo:</p>

<p><%= link_to 'Odkleni moj račun ', unlock_url(@resource, unlock_token: @token) %></p>
