<h1><%= t '.new' %></h1>

<%= render 'form', user: [:admin, @user] %>

<%= link_to t('defaults.cancel'), admin_users_path, class: 'btn btn-warning' %>

<script type="text/javascript">
  Enrolled.admin.users.form();
</script>